{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "plugins": [
    [
      "import", {
        "libraryName": "antd",
        "style": true
      }
    ],
    // [
    //   "transform-react-jsx", {
    //     "pragma": "m"
    //   }
    // ]
  ]
}